.footer {
   background-color: #141414;
   color: white;
   padding: 20px;
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
 }
 
 .footer-content {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 
 .footer-links {
   list-style-type: none;
   padding: 0;
 }
 
 .footer-links li {
   display: inline;
   margin: 0 10px;
 }
 
 .footer-links a {
   color: white;
   text-decoration: none;
 }
 
 .footer-links a:hover {
   text-decoration: underline;
 }
 
 .footer-socials {
   margin-top: 10px;
 }
 
 .footer-socials a {
   color: white;
   text-decoration: none;
   margin: 0 5px;
 }
 
 .footer-socials a:hover {
   text-decoration: underline;
 }
 